---
import Hive from "../atoms/Hive.astro"

---

<section class="relative">
    <div class="absolute -left-8 -top-44 -z-10">
        <Hive />
    </div>
    <h2 class="text-center font-medium text-3xl mb-8">Nos articles</h2>
    <p class="text-center max-w-[64ch] mx-auto">Et si vous ne désirez pas travailler avec nous, vous pouvez tout de meme
        lire nos articles
        dans lesquels nous
        vous partageons notre expertise. </p>
</section>