---
import Button from "../atoms/Button.astro";
import ButtonOutline from "../atoms/ButtonOutline.astro";
import Markdown from "@astrojs/markdown-component";
const { component, isPage = false } = Astro.props;
---

<div
    class={"p-[2px] flex flex-col rounded-md h-fit " +
    (component.content.highlighted
        ? "bg-gradient-to-r from-primary to-secondary"
        : "bg-gray-100")}
>
    <div class={" bg-gray-100 rounded-[0.300rem] p-5"}>
        <span class="block text-center mb-2 md:mb-5">{component.name}</span>
        <div
            class="border-gray-300 border-b-2 pb-10 flex justify-center items-end"
        >
            <span class="text-center text-gray-900 text-2xl lg:text-3xl"
                >{component.content.price}€
            </span>
            <span class="text-lg">/mois</span>
        </div>
        {
            isPage && (
                <div class="flex justify-center mt-10">
                    {component.content.highlighted && (
                        <Button href={"/nos-offres/" + component.slug}>
                            Découvrir
                        </Button>
                    )}
                    {!component.content.highlighted && (
                        <ButtonOutline href={"/nos-offres/" + component.slug}>
                            Découvrir
                        </ButtonOutline>
                    )}
                </div>
            )
        }
        <div
            class={"pt-10 text-stone-900 markdown space-y-5 relative" +
            " " +
            (isPage ? "" : "h-72 overflow-hidden")}
        >
            <Markdown>{component.content.content}</Markdown>
            {
                !isPage && (
                    <div class="bg-gradient-to-t from-gray-100 w-full to-transparent h-20 absolute bottom-0" />
                )
            }
        </div>
        {
            !isPage && (
                <div class="flex justify-center mt-10">
                    {component.content.highlighted && (
                        <Button href={"/nos-offres/" + component.slug}>
                            Découvrir
                        </Button>
                    )}
                    {!component.content.highlighted && (
                        <ButtonOutline href={"/nos-offres/" + component.slug}>
                            Découvrir
                        </ButtonOutline>
                    )}
                </div>
            )
        }
    </div>
</div>
