---

import Markdown from '@astrojs/markdown-component';
const { component } = Astro.props
---

<section class={"md:text-center px-4 md:px-0 py-14 " + (component.black ?'bg-gray-800 text-white' :'') }>
    <h2 class=" text-3xl font-medium mb-7">{component.title}</h2>
    <div class=" max-w-3xl mx-auto">
        <Markdown>
            {component.text}
        </Markdown>
    </div>
</section>