---
import { getTeam } from "../../../utils/storyblok";
import TeamMember from "../atoms/TeamMember.astro";

const team = await getTeam()
---

<section class="bg-gray-800 text-white py-14 px-4 md:px-0">
    <h2 class="md:text-center text-3xl mb-8">Notre équipe</h2>
    <p class="md:text-center mb-14">Nous vous présentons l'équipe fondatrice !</p>
    <div class="grid  sm:grid-cols-2 gap-4 lg:gap-10 max-w-7xl w-full mx-auto">
        {team.map(member=>
        <TeamMember member={member} />
        )}
    </div>
</section>