---
import { getArticles } from "../../../utils/storyblok";
import BlogPostLink from "../../components/atoms/BlogPostLink.astro";
import SectionTitle from "../../components/moleculs/SectionTitle.astro";
import PageLayout from "../../layout/PageLayout.astro";
const posts = await getArticles();
---

<PageLayout meta={{ title: "Blog" }}>
    <div class="px-4 md:px-0 mb-16 md:mb-36">
        <h1 class="font-title text-4xl text-center mt-14">Blog</h1>
        <p class="max-w-[64ch] mx-auto text-center text-gray-500 mt-8">
            Nous vous partageons notre expertise !
        </p>
        <div
            class="grid sm:grid-cols-2 lg:grid-cols-4 max-w-6xl mt-14 w-full mx-auto gap-4"
        >
            {
                posts.map((post, index) => (
                    <BlogPostLink key={index} post={post} />
                ))
            }
        </div>
    </div>
</PageLayout>
