---
import { getStory } from "../../utils/storyblok";
import PageLayout from "../layout/PageLayout.astro";

import Markdown from "@astrojs/markdown-component";
const { stories } = await getStory("mentions-legales");
---

<PageLayout>
    <article class="markdown max-w-[64ch] w-full mx-auto mt-14 pb-16">
        <h1>{stories[0].name}</h1>
        <Markdown>{stories[0].content.content}</Markdown>
    </article>
</PageLayout>
