---
const date = new Date()
---

<div class="border-t-2">
    <div class="max-w-6xl flex-col md:flex-row items-center md:items-start w-full flex justify-between p-2.5 mx-auto">
        <span>
            &copy; DealView {date.getFullYear()}
        </span>
        <span>
            Site internet réalisé par <a class="text-[#28625E] hover:underline" target="_blank"
                href="https://loak.studio">loak.studio</a>
        </span>
    </div>
</div>