---
const { post } = Astro.props;
---

<div
    class="relative bg-gray-100 flex flex-col hover:opacity-70 transition rounded-md overflow-hidden"
>
    <figure class="aspect-video overflow-hidden">
        <img
            class="w-full h-full object-cover"
            src={post.content.image.filename}
            alt=""
        />
    </figure>
    <h3 class="pt-8 px-8 pb-4 text-gray-700 flex-1">{post.name}</h3>
    <div class="flex justify-end mb-8 pr-8">
        <a
            class="text-gray-500 before:inset-0 before:absolute"
            href={"/blog/" + post.slug}
            >Lire plus
        </a>
    </div>
</div>
