---
import { getContactLink } from '../../../utils/storyblok';
import Button from '../atoms/Button.astro';
import ButtonOutline from '../atoms/ButtonOutline.astro';
import HeroIllustration from '../atoms/illustrations/HeroIllustration.astro';
const contactLink = await getContactLink()
---

<div class="flex flex-col items-center lg:flex-row md:gap-24 mx-auto w-full max-w-6xl mt-0 md:mt-24">
    <div class="lg:max-w-md px-4 lg:px-0 space-y-7">
        <div class="font-medium">

            <h1 class="text-2xl md:text-4xl leading-[48px] font-title">
                Nous aidons les <span class="text-primary font-medium">start-up</span> et les <span
                    class="text-primary font-medium">PME</span> dans leur
                <span class="text-primary font-medium">croissance</span> en leur construisant une
                <span class="text-primary font-medium">
                    stratégie commerciale</span> BtoB efficace et sur mesure.
            </h1>
        </div>
        <span class="block text-gray-600 text-xl">
            Vous créez, nous vendons !
        </span>
        <div class="xs:space-x-4">
            <Button target="_blank" href={contactLink}>
                Nous contacter
            </Button>
            <ButtonOutline href={"/nos-offres/"}>
                Voir nos offres
            </ButtonOutline>
        </div>
    </div>
    <div class="hidden md:block">
        <HeroIllustration />

    </div>
</div>