---
import { getOffersSortedByPrice } from "../../../utils/storyblok";
import ButtonOutline from "../atoms/ButtonOutline.astro";
import Hive from "../atoms/Hive.astro";
import OfferItem from "../moleculs/OfferItem.astro";
const stories = await getOffersSortedByPrice();
---

<div class="relative">
    <section
        class="relative max-w-6xl px-4 lg:px-0 w-full mx-auto text-gray-900"
    >
        <h2 class="md:text-center text-3xl font-medium mb-7">Nos Offres</h2>
        <span class="block md:text-center"
            >Comparez nos différentes offres et choisissez-celle qui vous
            convient le mieux !
        </span>
        <div class="grid md:grid-cols-4 gap-5 mt-14">
            {stories.map((story) => <OfferItem component={story} />)}
        </div>
        <div class="flex justify-center mt-14">
            <ButtonOutline href={"/nos-offres/"}
                >Voir le comparatif
            </ButtonOutline>
        </div>
    </section>
    <div class="-bottom-64 absolute -right-0 -z-10">
        <svg
            width="681"
            height="464"
            viewBox="0 0 681 464"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M680.185 184.722L596.287 139.077V47.6019C596.285 47.3339 596.209 47.0709 596.066 46.8392C595.923 46.6075 595.718 46.4151 595.471 46.2811L510.693 0.205764C510.445 0.0709656 510.164 0 509.878 0C509.592 0 509.31 0.0709656 509.063 0.205764L425.197 45.8203L341.299 0.205764C341.051 0.0709656 340.77 0 340.484 0C340.197 0 339.916 0.0709656 339.668 0.205764L255.77 45.8203L171.872 0.205764C171.624 0.0709656 171.343 0 171.057 0C170.771 0 170.49 0.0709656 170.242 0.205764L85.4633 46.2811C85.2169 46.4151 85.012 46.6075 84.869 46.8392C84.726 47.0709 84.6498 47.3339 84.6481 47.6019V138.555L0.815178 184.292C0.580537 184.416 0.382812 184.593 0.240317 184.808C0.097822 185.023 0.0151645 185.268 0 185.521L0 277.671C0.00171737 277.939 0.0778639 278.202 0.220872 278.434C0.36388 278.666 0.56877 278.858 0.815178 278.992L84.7785 324.637V416.112C84.781 416.384 84.8572 416.651 84.9998 416.888C85.1425 417.124 85.3469 417.322 85.5937 417.464L170.372 463.539C170.626 463.658 170.904 463.721 171.187 463.723C171.471 463.725 171.751 463.661 172.003 463.539L255.901 417.894L339.799 463.539C340.052 463.658 340.331 463.721 340.614 463.723C340.898 463.728 341.179 463.665 341.429 463.539L425.067 418.047L509.095 463.815C509.348 463.935 509.627 463.998 509.91 464C510.194 464.005 510.475 463.941 510.726 463.815L595.504 417.74C595.751 417.599 595.955 417.401 596.098 417.164C596.241 416.928 596.317 416.661 596.319 416.389V325.159L680.185 279.514C680.432 279.373 680.636 279.175 680.779 278.938C680.921 278.702 680.998 278.435 681 278.163V186.012C680.993 185.749 680.914 185.493 680.771 185.267C680.628 185.041 680.427 184.853 680.185 184.722ZM86.0502 141.288L167.568 185.582L86.3437 229.814L4.89107 185.521L86.0502 141.288ZM88.0393 232.487L143.928 202.077L169.557 188.162V276.78L88.0393 321.074V232.487ZM506.715 186.043L425.197 230.367L343.679 186.043L425.197 141.749L506.715 186.043ZM255.77 229.814L174.611 185.674L255.77 141.534L336.962 185.674L255.77 229.814ZM172.818 188.162L198.382 202.077L254.27 232.487V321.074L172.818 276.78V188.162ZM257.596 232.487L313.485 202.077L339.049 188.162V276.78L257.531 321.074L257.596 232.487ZM342.375 188.715L370.515 204.074L423.828 233.07V321.381L342.31 277.057L342.375 188.715ZM427.153 321.627V233.009L482.586 202.722L508.15 188.807V277.303L452.294 307.712L427.153 321.627ZM511.932 277.303V188.715L537.137 202.722L593.026 233.101V321.719L567.364 307.712L511.932 277.303ZM508.671 94.568V183.155L427.153 138.862V50.2743L452.75 64.1583L508.671 94.568ZM423.893 50.2743V138.862L342.375 183.155V94.568L395.72 65.5713L423.893 50.2743ZM339.114 94.568V182.848L257.596 138.555V50.2743L283.16 64.1583L339.114 94.568ZM254.336 50.2743V138.555L172.818 182.848V94.568L228.706 64.1583L254.336 50.2743ZM171.057 279.668L252.575 323.962L171.057 368.255L89.5392 323.962L171.057 279.668ZM340.19 279.668L421.708 323.962L340.516 368.102L258.998 323.808L340.19 279.668ZM509.91 279.821L591.428 324.115L509.91 368.44L428.393 324.115L509.91 279.821ZM513.171 185.889L594.689 141.595L676.207 185.889L594.656 230.367L513.171 185.889ZM593.026 50.1207V138.862L511.508 183.155V94.568L567.364 64.1583L593.026 50.1207ZM169.557 94.568V182.848L88.0393 138.555V50.2743L113.603 64.1583L169.557 94.568ZM509.91 3.30817L591.428 47.6019L509.91 91.8956L428.393 47.6019L509.91 3.30817ZM340.353 3.30817L421.871 47.6019L340.353 91.8956L258.835 47.6019L340.353 3.30817ZM170.796 3.30817L252.314 47.6019L170.796 91.8956L89.2783 47.6019L170.796 3.30817ZM3.26071 188.162L31.4007 203.521L84.7785 232.487V321.074L3.26071 276.78V188.162ZM88.0393 326.634L113.603 340.549L169.557 370.928V459.546L88.0393 415.221V326.634ZM172.818 370.928L228.706 340.549L254.27 326.634V415.221L172.818 459.546V370.928ZM257.596 326.634L283.16 340.549L339.049 370.928V459.546L257.531 415.221L257.596 326.634ZM342.375 370.928L395.72 341.931L423.828 326.572V415.16L342.31 459.484L342.375 370.928ZM427.153 326.941L452.75 340.856L508.606 371.235V459.853L427.088 415.529L427.153 326.941ZM593.45 415.529L511.932 459.853V371.235L567.364 340.948L592.961 327.033L593.45 415.529ZM678.228 277.303L596.711 321.627V233.009L650.023 204.012L678.163 188.654L678.228 277.303Z"
                fill="#F3F4F6"></path>
        </svg>
    </div>
</div>
