---
import { getStory } from "../../../utils/storyblok";
import ButtonOutline from "../atoms/ButtonOutline.astro";
import OfferItem from "../moleculs/OfferItem.astro";

const { component } = Astro.props
const { stories } = await getStory('offers');
---

<section class="max-w-5xl w-full mx-auto text-gray-900">
    <h2 class="text-center  text-3xl font-medium mb-7">{component.title}</h2>
    <span class="block text-center">{component.text}</span>
    <div class="grid md:grid-cols-4 md:gap-5 mt-14">
        {stories.map(story=>
        <OfferItem component={story} />
        )}
    </div>
    <div class="flex justify-center mt-14">
        <ButtonOutline href="#">Voir le comparatif</ButtonOutline>
    </div>
</section>