---
import WhyUsItem from "../atoms/WhyUsItem.astro";
---

<section class="bg-gray-200 py-14 px-4 2xl:px-0">
    <div class="max-w-7xl w-full mx-auto">
        <h2 class="text-3xl font-medium">Pourquoi nous ?</h2>
        <p class="text-lg max-w-[64ch] mt-5 mb-14">
            Notre ambition est de démarrer une collaboration durable avec vous
            pour vous aider à commercialiser votre solution !
        </p>
        <div class="grid lg:grid-cols-3 gap-14">
            <WhyUsItem
                title="Dynamisme"
                text="Nous sommes prêts et motivés à tout mettre en oeuvre pour booster votre commercialisation ! "
                ><svg
                    width="14"
                    height="20"
                    viewBox="0 0 14 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M8.22144 1.2518H8.22488H8.22144ZM8.22144 1.2518L6.80914 8.67204L11.9255 8.68925L4.9612 18.7485L6.37352 10.585L1.25751 10.5672L8.22144 1.2518ZM8.2224 3.91187e-05C8.1886 3.91187e-05 8.15482 0.00127134 8.12165 0.00375533C7.90071 0.0216127 7.75423 0.0954676 7.58057 0.212196C7.48278 0.277394 7.39461 0.355977 7.31863 0.445652C7.29581 0.472567 7.27429 0.500555 7.25415 0.529521L0.240124 9.81239C-0.0368319 10.192 -0.0775147 10.693 0.135288 11.1118C0.347777 11.5305 0.777449 11.7959 1.24843 11.7993L4.86169 11.8256L3.7257 18.5185C3.61773 19.0937 3.92442 19.667 4.46425 19.898C4.62113 19.9654 4.79011 20.0001 4.96087 20C5.35424 20 5.67751 19.816 5.92006 19.4836L12.9428 9.42434C13.2198 9.04472 13.2602 8.54307 13.0477 8.12497C12.8352 7.70626 12.4055 7.44086 11.9345 7.43744L8.32129 7.43118L9.44507 1.54626C9.46889 1.44991 9.48087 1.35102 9.48076 1.25178C9.48076 0.574566 8.94154 0.022532 8.26683 0.000625889C8.25183 0 8.2371 0 8.22241 0L8.2224 3.91187e-05Z"
                        fill="white"></path>
                </svg>
            </WhyUsItem>
            <WhyUsItem
                title="R.O.I."
                text="C'est notre objectif commun. Si vous gagnez, nous gagnons. Win-win !"
            >
                <svg
                    width="24"
                    height="15"
                    viewBox="0 0 24 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M22.4 0H1.6C1.17565 0 0.768687 0.168571 0.468629 0.468629C0.168571 0.768687 0 1.17565 0 1.6V12.8C0 13.2243 0.168571 13.6313 0.468629 13.9314C0.768687 14.2314 1.17565 14.4 1.6 14.4H22.4C22.8243 14.4 23.2313 14.2314 23.5314 13.9314C23.8314 13.6313 24 13.2243 24 12.8V1.6C24 1.17565 23.8314 0.768687 23.5314 0.468629C23.2313 0.168571 22.8243 0 22.4 0V0ZM7.5 12.8L1.6 7.64V6.76L7.5 1.6H16.5L22.4 6.76V7.64L16.5 12.8H7.5ZM22.4 4.64L18.93 1.6H22.4V4.64ZM5.07 1.6L1.6 4.64V1.6H5.07ZM1.6 9.76L5.07 12.8H1.6V9.76ZM22.4 12.8H18.93L22.4 9.76V12.8ZM12 3.2C11.2089 3.2 10.4355 3.4346 9.77772 3.87412C9.11992 4.31365 8.60723 4.93836 8.30448 5.66927C8.00173 6.40017 7.92252 7.20444 8.07686 7.98036C8.2312 8.75629 8.61216 9.46902 9.17157 10.0284C9.73098 10.5878 10.4437 10.9688 11.2196 11.1231C11.9956 11.2775 12.7998 11.1983 13.5307 10.8955C14.2616 10.5928 14.8864 10.0801 15.3259 9.42228C15.7654 8.76448 16 7.99112 16 7.2C16 6.13913 15.5786 5.12172 14.8284 4.37157C14.0783 3.62143 13.0609 3.2 12 3.2ZM12 9.6C11.5253 9.6 11.0613 9.45924 10.6666 9.19553C10.272 8.93181 9.96434 8.55698 9.78269 8.11844C9.60104 7.6799 9.55351 7.19734 9.64612 6.73178C9.73872 6.26623 9.9673 5.83859 10.3029 5.50294C10.6386 5.1673 11.0662 4.93872 11.5318 4.84611C11.9973 4.75351 12.4799 4.80104 12.9184 4.98269C13.357 5.16434 13.7318 5.47195 13.9955 5.86663C14.2592 6.26131 14.4 6.72532 14.4 7.2C14.3974 7.83571 14.1437 8.44463 13.6941 8.89415C13.2446 9.34367 12.6357 9.59737 12 9.6Z"
                        fill="white"></path>
                </svg>
            </WhyUsItem>
            <WhyUsItem
                title="Flexibilité"
                text="Nous savons nous adapter et modifier nos méthodes pour que notre collaboration soit la plus efficace possible."
                ><svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M18.6 3L22.6562 7.05625L7.05625 22.6562L3 18.6V29H13.4L9.34375 24.9438L24.9438 9.34375L29 13.4V3H18.6Z"
                        fill="white"></path>
                </svg>
            </WhyUsItem>
        </div>
    </div>
</section>
